@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800');

@font-face
{
    font-family: 'IcoFont';
    font-weight: normal;
    font-style: 'Regular';

    src: url('./fonts/icofont.woff2') format('woff2'), url('./fonts/icofont.woff') format('woff');
}

*
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    user-select: none;

    border: none;
    outline: none;
}

.login-screen
{
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    min-height: 100%;

    justify-content: center;
    align-items: center;

    opacity: 1;
}

.login-screen form
{
    padding: 40px 40px 20px;
}

@media (min-width: 376px)
{
    .login-screen {
        background: #9a12b3;
        background: linear-gradient(#963694, #1e8bc3);
    }

    .login-screen form
    {
        width: 320px;

        border-radius: 8px;

        background: #fff;
    }
}

@media (max-width: 375px)
{
    .login-screen form
    {
        width: 100%;
        background: transparent;
    }

    .login-screen
    {
        background: transparent;
    }
}

.login-screen form > .input-wrapper
{
    position: relative;

    margin-bottom: 40px;
}

form > .input-wrapper::before
{
    font-size: 13px;
    line-height: 1.4;

    position: absolute;
    z-index: 2;
    top: 50%;
    right: 8px;

    visibility: hidden;

    max-width: 70%;
    padding: 4px 25px 4px 10px;

    content: attr(data-validate);
    -webkit-transition: opacity .4s;
       -moz-transition: opacity .4s;
         -o-transition: opacity .4s;
            transition: opacity .4s;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: left;
    pointer-events: none;

    opacity: 0;
    color: #f22613;
    border: 1px solid #f22613;
    border-radius: 2px;
    background-color: #fff;
}

form > .input-wrapper::after
{
    font-family: 'IcoFont';
    font-size: 15px;

    position: absolute;
    z-index: 3;
    top: 50%;
    right: 14px;

    display: block;
    visibility: hidden;

    content: '\f025';
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);

    color: #f22613;
    background-color: #fff;
}

form > .input-wrapper:not([data-validate=''])::after
{
    visibility: visible;
}

form > .input-wrapper:not([data-validate='']):hover:before
{
    visibility: visible;

    opacity: 1;
}

.login-screen form > .input-wrapper > input:not(:first-child)
{
    margin-top: 10px;
}

.login-screen form label
{
    display: block;
}

.login-screen form input
{
    font-size: 13px;

    display: block;

    width: 100%;
    height: 45px;
    padding: 0 10px;

    border-bottom: 2px solid #dadfe1;
    background: transparent;
}

.login-screen form input.invalid
{
    border-color: #f22613;
}

form .focus-input
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    pointer-events: none;
}

form .focus-input::after
{
    font-size: 13px;

    position: absolute;
    z-index: 0;
    top: 50%;
    left: 14px;

    display: block;

    width: 100%;

    content: attr(data-placeholder);
    transition: all .4s;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);

    color: #888;
}

form input.has-val + .focus-input::after
{
    top: -8px;
}

form h1.form-header
{
    font-size: 26px;
    font-weight: 800;
    line-height: 1.0;

    display: block;

    width: 100%;
    padding: 0 0 40px 0;

    text-align: center;
    text-transform: uppercase;
}

form small
{
    font-size: 11px;

    display: block;

    height: 14px;
    margin-bottom: 5px;
}

form small.info
{
    color: #888;
}

form small.error
{
    color: #f22613;
}

.btn
{
    font-weight: 600;

    display: block;

    padding: 15px 40px;

    cursor: pointer;
    text-transform: uppercase;

    border-radius: 24px;
}

.btn:active
{
    transform: scale(.98);
}

form .btn
{
    width: 100%;
    margin-top: 25px;
}

form .form-link
{
    font-size: 13px;

    display: block;

    margin-top: 30px;

    text-align: center;

    color: #888;
}

form .form-link > a
{
    font-size: 13px;

    cursor: pointer;
    text-decoration: none;

    color: #2c82c9;
}

form .form-link > a:hover
{
    text-decoration: underline;
}

.btn.btn-primary
{
    color: #fff;
    background: #9f5afd;
}

.btn.btn-secondary
{
    color: #2c82c9;
    background: #fff;
    border: 1px solid #2c82c9;
}

body
{
    width: 100%;
    min-height: 100%;
}

@media (min-width: 376px) {
    body {
        background: #e4e9ed;
    }
}

@media (max-width: 375px) {
    body {
        background: #fff;
    }
}

.container
{
    display: flex;

    width: 100%;
    min-height: 100%;

    justify-content: center;
}

.user-card
{
    padding: 40px;
}

@media (min-width: 376px)
{
    .user-card
    {
        width: 50%;
        min-width: 320px;
        margin-top: 40px;

        border-radius: 8px;

        background: #fff;
    }
}

@media (max-width: 375px)
{
    .user-card
    {
        width: 100%;
        background: transparent;
    }
}

.user-card p
{
    display: flex;

    margin: 40px 0;

    line-height: 1.45;
}

.user-card b
{
    font-weight: 600;
    margin-right: 6px;
}

.user-avatar-wrapper
{
    border-bottom: 1px solid #dadfe1;
}

.user-avatar-wrapper,
.logout-btn-wrapper
{
    display: flex;

    justify-content: center;
}

.user-card .user-avatar
{
    display: block;

    width: 100px;
    height: 100px;
    margin-bottom: 40px;

    border: 2px solid #2c82c9;
    border-radius: 50px;
    background: url('./img/man.png') 50% 50%;
    /* Icon made by VectorsMarket from www.flaticon.com is licensed by Creative Commons BY 3.0 */
    background-size: contain;
}


.loader-wrapper
{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

@media (max-width: 375px)
{
    .loader-wrapper
    {
        background: #fff;
    }
}

@media (min-width: 376px) {
    .loader-wrapper
    {
        background:linear-gradient(#963694, #1e8bc3);
    }
}

.hidden
{
    display: none;
}

/*----------
  Loader by https://loading.io/css/
----------*/
.lds-ring
{
    position: relative;

    display: inline-block;

    width: 64px;
    height: 64px;
}

.lds-ring div
{
    position: absolute;

    display: block;

    box-sizing: border-box;
    width: 51px;
    height: 51px;
    margin: 6px;

    animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;

    border-radius: 50%;
}

@media (min-width: 376px)
{
    .lds-ring div
    {
        border: 6px solid #fff;
        border-color: #fff transparent transparent;
    }
}

@media (max-width: 375px)
{
    .lds-ring div
    {
        border: 6px solid #9f5afd;
        border-color: #9f5afd transparent transparent;
    }
}

.lds-ring div:nth-child(1)
{
    animation-delay: -.45s;
}

.lds-ring div:nth-child(2)
{
    animation-delay: -.3s;
}

.lds-ring div:nth-child(3)
{
    animation-delay: -.15s;
}

@keyframes lds-ring
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}


.text-placeholder {
    height: 20px;
    padding: 2px;
    background: #ececec;
    display: block;
    margin-right: 6px;
}